body{

    section{
        @include grid-row();
    

        #feature{
            @include grid-column(12);
             background-image: url("http://cdn.thejournalshop.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/f/n/fn21-pitchblack1web/Field-Notes-Memo-Books-Pitch-Black-32.jpg");
             padding:150px;
             text-align:center;
             color:$primary-background-color;
             font-weight:bold;
        }


        #lunacy{
            @include grid-column(8);
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaz5eYDzmFKjgouSP549j3yj9WL5I7NjHfZ548aLqkeXUF_Kht");
            padding:50px;
            text-align:center;
            color:$primary-background-color;
        }

        #events{
            @include grid-column(4);
            background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSi3KfLr3kMcSDw0bZ2-G4SED2RsJnLsqig_Rz9twNUA-JwzPal");
            padding:50px;
            text-align:center;
            color:$primary-background-color;
        }

        #merch{
            @include grid-column(12);
            text-align:center;
                
                h2{
                color:rosybrown;
                }
        }

        #notes{
            @include grid-column(3);
            text-align:center;
            font-weight:bold;
            border:1px solid gray;

            p{
                color:red;
            }

        }
      

}



}








