footer{

    section{
        @include grid-row;
        background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk1Q1jtDp7ldDv-tCBAOwrybFOTz3cCz7kUHrS7ZQizQ0xT0iPRN-V9ro);
        
    
        #made{
            @include grid-column(4);
            text-align:left;
            font-size:$footer-font-size;
        }

        #title{
            @include grid-column(4);
            text-align:center;
            vertical-align:top;
            font-size:$large-font-size;
        }

        #durable{
            @include grid-column(4);
            text-align:right;
            font-size:$footer-font-size;
        }

        #product{
            @include grid-column(2);
            margin:0;
            text-align:left;
            font-size:$footer-font-size;
            font-weight:bold;

            li{
                list-style-type:none;
            }
        }

        #limited{
            @include grid-column(2);
            margin:0;
            text-align:left;
            font-size:$footer-font-size;
            font-weight:bold;

            li{
                list-style-type:none;
            }
        }

        #quote{
            @include grid-column(4);
            font-size:$footer-font-size;
            text-align:center;
        }

        #subscribe{
            @include grid-column(4);
            font-size:.7em;
            text-align:left;
            font-weight:bold;

            h4{
                color:red;            
            }


            input[type=text]{
                color:darkgray;
            }
        }

        #icons{
            @include grid-column(2);
            text-align:center;
            padding:30px;
            margin:5px;
            

            img{
                display:inline-block;
                width:15%;
            }
        }




        #copyright{
            @include grid-column(4);
            text-align:left;
        }

        #address{
            @include grid-column(4);
            text-align:center;
            border-left:2px dashed black;
            border-right:2px dashed black;
        }

        #print{
            @include grid-column(4);
            text-align:right;
        }
    }
    
   
   .last{
    border-top:2px solid black;
    font-size:.7em;
    font-weight:bold;
     }












}