
header{
    @include grid-row();


.mail{
            
            display:none;

            @include breakpoint($large-screen-size){    
                @include grid-column(3);
                display:block;
            vertical-align:top;
            font-size:$footer-font-size;
            color:brown;
            font-weight:bold;

            img{
                width:10%;
                display:inline-block;
            }

            p{
                display:inline-block;
            }
        }
}

.center{

    @include grid-column(12);

    @include breakpoint($large-screen-size){    
                @include grid-column(6);
    }
    text-align:center;

    ul{
        display:flex;
        flex-direction:row;
        
        li{
            list-style-type:none;
            padding:10px;
            color:rosybrown;
            font-weight:bold;
        }

        h1{
            font-size:$large-font-size;
        }

    }
}

.cart{

     display:none;

            @include breakpoint($large-screen-size){    
                @include grid-column(3);
                display:block;
                text-align:right;

             p{
                display:inline-block;
                padding:10px;
            }

        }

}
}